.devise
  h2 Выслать инструкцию по активации еще раз
  = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    .form_group
      = f.input :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
    .form_group.actions
      = f.submit "Отправить", class: 'reactivation'
  = render "devise/shared/links"
