.devise
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    .form_group
      = f.input :email, as: :email
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .form_group
        .mail_confirmation_message Ждем подтверждения с новой почты #{resource.unconfirmed_email}
    .form_group
      = f.input :name
    .form_group.phone_confirmation class="#{current_user.phone.activated ? 'activated' : 'inactivated'}" data-phone-id="#{current_user.phone.id}"
      .edit_form
        = f.simple_fields_for :phone do |i|
          = i.input :number
        span.send_sms_code
      .check_form
        .check_sms_form
          label for="check_phone" Подтверждение телефона
          .check_sms_form_group
            input.check_sms_input type="text" placeholder="Смс код" id="check_phone"
            span.check_sms_btn Отправить
            .errors
          span.resend_sms_code
            span.timer
    .form_group.with_right_desc
      .desc
        | (оставьте пустым, если не хотите менять)
      = f.input :password, autocomplete: "off"
    .form_group
      = f.input :password_confirmation, autocomplete: "off"
    .form_group.actions
      = f.submit "Сохранить", class: 'save'
      = link_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete, class: 'delete'
