.devise
  h2 Регистрация на сайте
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .form_group
      = f.input :email
    .form_group
      = f.input :name
    .form_group
      = f.simple_fields_for :phone do |i|
        = i.input :number
    .form_group.with_right_desc
      - if @minimum_password_length
        .desc
          | (
          = @minimum_password_length
          |  символов минимум)
      = f.input :password, autocomplete: "off"
    .form_group
      = f.input :password_confirmation, autocomplete: "off"
    .form_group.actions
      = f.submit "Зарегестрироваться", class: 'sign_up'
    .form_group
      = render "devise/shared/links"
