.favorites_index
  - if @sell.any?
    .inner_content.sell_items
      h3 Пока вас не было, из вашего избранного были проданы велосипеды:
      - @sell.each do |bookmarked_bike_sell|
        = render 'shared/bike_index', bike: bookmarked_bike_sell
  - if @active.any?
    .inner_content.active_items
      - @active.each do |bookmarked_bike|
        = render 'shared/bike_index', bike: bookmarked_bike
  - unless @active.any? || @sell.any?
    .no_bookmarks
