.inner_content
  .moderations_index
    - if @bikes.any?
      - @bikes.each do |bike|
        = render 'shared/bike_show', bike: bike
      = paginate @bikes
    - else
      .profile_head
        h2 Новых объявлений нет
