.bike_group
  margin-bottom: 5px
  &:last-of-type
    margin-bottom: 0
  span
    font-weight: bold
    margin-right: 5px
  div
    font-weight: bold
    margin-bottom: 5px

.profile_head
  text-align: center
  margin: 20px 0 0 0
  min-height: 40px
  line-height: 40px
