.bike_show
  padding: 0
  margin: 20px 0
  position: relative
  max-width: 960px
  @extend %wrap_box
  +mobile
    margin: 0
  a
    @extend %link_default
  h1
    font-size: 25px

  +e(close)
    display: none
    @extend %icon-cancel
    &:before
      font-size: 30px
      position: absolute
      top: -35px
      right: -35px
      color: #bdbdbd
      cursor: pointer
    &:hover:before
      color: white

  +e(header)
    border-bottom: 1px solid $neutral-color
    position: relative
    padding: 20px
    display: flex
    flex-wrap: nowrap
    +mobile_s
      flex-wrap: wrap
    .add_to_favorites
      position: relative
      color: black
      @extend %icon-bookmark-empty
      font-size: 25px
      cursor: pointer
      display: inline-block
      &[data-loading=true]:after
        border-top-color: black
        border-bottom-color: black
        width: 30px
        height: 30px
        margin-top: -19px
        margin-left: -18px
      &.set
        @extend %icon-bookmark
      &:hover, &.set
        color: $danger-color
    .title
      flex-grow: 4
      +mobile_s
        margin-bottom: 10px
    .eye
      @extend %icon-eye
      &:before
        padding-right: 5px
    .price
      text-align: right
      font-size: 24px
      font-weight: bold
      flex-grow: 1
      margin-right: 5px
      min-width: 170px
      +mobile
        text-align: left
    .info
      margin-top: 10px
      color: $disable-color
      font-size: 14px
      span
        margin-right: 10px
    .services
      flex-grow: 1
      text-align: right

  +e(subheader)
    +clearfix
    padding: 20px
    background-color: whitesmoke
    .owner
      float: left
      font-size: 17px
      padding: 10px 0
      +mobile_s
        float: none
      span
        margin-right: 5px
        color: $disable-color
    .show_phone, .show_email
      @extend %btn_success
      +mobile_s
        width: 100%
    .contacts
      font-size: 18px
      font-weight: bold
      float: right
      +mobile_s
        float: none
    .contact
      margin-left: 10px
      line-height: 40px
      height: 40px
      display: inline-block
      +mobile_s
        display: block
        margin: 0 0 10px 0

  +e(main)
    +clearfix
    padding: 20px
    box-sizing: border-box
    .image
      float: right
      width: 60%
      +mobile
        float: none
        width: 100%
    .config
      float: left
      overflow: hidden
      width: 40%
      padding-right: 20px
      box-sizing: border-box
      +mobile
        margin-top: 20px
        width: 100%
        float: none
        padding-right: 0
      table
        width: 100%
        border-spacing: initial
      .description
        color: $disable-color
        padding-left: 0
      td
        padding: 10px

  +e(footer)
    padding: 0 20px 20px

  +e(similar)
    padding: 10px
    background-color: white
    margin: 20px 0
    border-top: 1px solid $neutral-color
    border-bottom-left-radius: 3px
    border-bottom-right-radius: 3px
    .header
      +clearfix
      padding: 0 10px
