.bike_index
  width: 25%
  position: relative
  display: inline-block
  vertical-align: top
  padding: 10px
  box-sizing: border-box
  text-decoration: none
  &:hover
    .bike_index__add_to_favorites
      display: block
    .bike_index__services_btn
      display: block
    .bike_index__price
      color: $danger-color
  +large
    width: 33.3%
  +large_s
    width: 50%
  +medium
    width: 50%
  +mobile
    width: 50%
  +mobile_s
    width: 100%

  +e(services_btn)
    display: none
    position: absolute
    top: 20px
    z-index: 20
    color: white
    font-size: 23px
    &:hover
      color: $danger-color

  +e(add_to_favorites)
    display: none
    @extend %icon-bookmark-empty
    top: 20px
    right: 15px
    position: absolute
    z-index: 20
    color: white
    font-size: 23px
    &.set
      @extend %icon-bookmark
      color: $danger-color
      display: block

  +e(not_a_bike)
    @extend %icon-block
    left: 15px

  +e(send_on_moderation)
    @extend %icon-recycle
    left: 47px
    top: 21px

  +e(price)
    font-size: 21px
    font-weight: bold
    color: black
    &.set:after
      @extend %icon
      content: '\e80f'
      font-size: 13px
      color: $danger-color

  +e(footer)
    .dot
      margin: 0 5px
    .date, .city, .dot
      color: $disable-color
      font-size: 11px
      display: inline-block
      vertical-align: middle

  +e(image)
    background-position: center
    background-size: cover
    height: 200px
    width: 100%
    position: relative
    margin-bottom: 10px
    border-radius: 3px
    &:before, &[data-loading=true]:before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 10
      border-radius: 3px
    &:before
      background-color: rgba(0,0,0,.2)
    &[data-loading=true]:before
      background-color: rgba(0,0,0,.6)
