.flash
  position: fixed
  bottom: 0
  width: 100%
  text-align: center
  z-index: 10
  .message
    text-align: left
    color: white
    padding: 16px
    display: inline-block
  .success
    background: $success-color
  .warning, .notice
    background: $warning-color
  .error, .alert
    background: $danger-color
