.modal
  +e(cloak)
    display: none
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1010
    overflow: hidden
    position: fixed
    background: #0b0b0b
    opacity: .8
  +e(content)
    display: none
    position: fixed
    z-index: 1020
    overflow-x: hidden
    overflow-y: auto
    margin: auto
    top: 0
    right: 0
    bottom: 0
    left: 0
    padding: 0 40px
    .bike_show
      margin: 50px auto
      z-index: 2000
[data-modal-open=true]
  margin-right: 15px
  overflow: hidden
  .modal__cloak, .modal__content, .bike_show__close
    display: block
