.moderator_area
  .form_group
    margin-bottom: 10px
  .owner_bikes
    margin-top: 5px

  input[type=radio], input[type=checkbox]
    display: none

  input[type=radio]:checked + label,
  input[type=checkbox]:checked + label
    background-color: $disable-color
    color: white

  .radio_buttons
    +clearfix

  .radio
    width: 50%
    float: left

  label
    font-size: 13px
    padding: 5px
    cursor: pointer
    margin: 0 !important
    width: 100%
    box-sizing: border-box
    background-color: whitesmoke
    &:hover
      background-color: darken(whitesmoke, 5%)

  .input.boolean
    width: 50%
    display: inline-block

  .on_moderation
    @extend %btn_warning
    @extend %icon-recycle
  .approve
    @extend %btn_success
    @extend %icon-ok
  .reject
    @extend %btn_danger
    @extend %icon-cancel
  .company
    @extend %btn_warning
    @extend %icon-home
  .actions
    margin-top: 5px
    .approve,
    .reject,
    .company,
    .on_moderation
      display: inline-block
      margin-right: 5px
      &:before
        font-size: 21px
        padding: 0
