.mobile_nav_trigger
  display: none
  height: 46px
  user-select: none
  .icon-menu
    @extend %icon-menu
    font-size: 1.4em
    padding-top: 9px
    padding-left: 6px
    color: white
  +mobile
    display: block

.navigation
  +mobile
    display: none
    &.open
      display: block
  .moderation_alert
    @extend %icon-bell-alt
    color: $danger-color
    font-size: 13px
    &:before
      padding: 0 0 0 7px
  a
    display: inline-block
    vertical-align: middle
    padding: 0 10px
    height: 46px
    line-height: 46px
    color: white
    text-decoration: none
    user-select: none
    font-size: 15px
    position: relative
    &.left_leaf
      float: left
    &#destroy_user_session:hover
      background-color: $danger-color
      color: white
    &.selected, &:hover
      color: black
      background-color: white
    +mobile
      display: block
      &#home
        float: none
  .sell_bike
    @extend %btn_success
    padding: 0 10px
    height: 46px
    line-height: 46px
    color: white
    border-radius: 0
    &:hover
      color: white
    +mobile
      display: block
      text-align: left
.nav_footer
  text-align: right
  +mobile
    display: block
    text-align: center
