.pagination
  overflow: hidden
  span, a
    display: inline-block
    height: 35px
    width: 35px
    text-decoration: none
    text-align: center
    line-height: 35px
    color: black
    &:hover
      background: $neutral-color
  .current
    background: $neutral-color
    &:hover
      background: $neutral-color
  .next, .prev, .first, .last
    width: auto
  .next a, .prev a, .first a, .last a
    width: auto
    padding: 0 5px
