.field_with_errors
  .error
    background-color: $danger-color
    color: white
    padding: 2px 5px
    display: inline-block
    font-weight: bold
    position: absolute
    top: 0
    right: 0
  input.required,
  input[type=password],
  textarea,
  .select2-selection--single
    border-color: $danger-color
