#subheader
  background-color: white
  @extend %wrap_box
  border-radius: 0 !important
  padding: 13px 20px
  .inner_content
    display: flex
    align-items: baseline
    flex-wrap: nowrap
    +mobile_s
      flex-wrap: wrap
  .left, .right
    flex-grow: 1
  .right
    text-align: right
    min-width: 115px
  .show_favorites
    @extend %icon-bookmark-empty
    text-decoration: none
    color: black
    line-height: initial
    display: inline-block
    vertical-align: middle
    &:before
      font-size: 20px
      padding-left: 0
      margin-top: -3px
      vertical-align: middle
    &.selected:before
      @extend %icon-bookmark
      padding-left: 0
    &.selected, &:hover
      @extend %icon-bookmark
      color: $danger-color
  h1
    font-size: 15px
    font-weight: normal
