.profile_head
  h2 Изменение пароля
.devise
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.hidden_field :reset_password_token
    .form_group
      = f.input :password, autofocus: true, autocomplete: "off"
    .form_group
      = f.input :password_confirmation, autocomplete: "off"
    .form_group.actions
      = f.submit "Изменить пароль", class: 'change'
    .form_group
      = render "devise/shared/links"
