.basic_form.devise.wrap_box
  h2 Забыли пароль?
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .form_group
      = f.input :email, autofocus: true
    .form_group.actions
      = f.submit "Восстановить", class: 'restore'
    .form_group
      = render "devise/shared/links"
