= link_to bike_path(bike.city, bike), class: 'bike_index', data: { id: bike.id, behavior: 'modal', root: '' } do

  .bike_index__add_to_favorites data-behavior='add_to_favorites' data-loading='false' class=bookmarked(id: bike.id)
  - if policy(bike).admin?
    .bike_index__not_a_bike.bike_index__services_btn data-behavior='set_status' data-status='rejected' data-loading='false'
    .bike_index__send_on_moderation.bike_index__services_btn data-behavior='set_status' data-status='on_moderation' data-loading='false'

  .bike_index__image data-image='' data-loading='false' style="background-image: url(#{bike.pictures.any? ? bike.pictures.order(img_updated_at: :asc).first.img.url(:medium) : false})"

  .bike_index__price
    - if bike.price > 0
      = human_price(bike.price)
    - else
      | нет цены
  .bike_index__footer
    .date = pretty_date(bike.created_at)
    .dot &bull;
    .city= bike.city.name
