= content_for(:title, "#{bike.try(:title)} б/у, цена #{bike.try(:price)} руб - BikeBook.ru")
= content_for(:description, "#{bike.try(:title)} б/у, по цене #{bike.try(:price)} руб в городе #{bike.try(:city).try(:name)}")

.bike_show data-id="#{bike.id}" data-root=''
  .bike_show__close data-behavior='modal_close'
  .bike_show__header
    .title
      h1 = bike.title
      .info
        span Добавлено: #{pretty_date(bike.created_at)}
        span = link_to "#{bike.city.department.name}, #{bike.city.name}", city_path(bike.city), data: { no_turbolink: true }
        span.eye #{bike.impressionist_count} (#{bike.impressionist_count(start_date: DateTime.now.beginning_of_day, end_date: DateTime.now.end_of_day)} сегодня)
    .price
      - if bike.price > 0
        = human_price(bike.price)
      - else
        | нет цены
    .services
      .add_to_favorites data-behavior='add_to_favorites' data-loading='false' class=bookmarked(id: bike.id)
  .bike_show__subheader
    .owner
      span Продавец:
      = bike.user.name
    .contacts
      - if bike.user.phone.activated
        span.contact: .show_phone data-behavior='show_contact_phone' Показать телефон
      - unless bike.original_url.present?
        span.contact: .show_email data-behavior='show_contact_email' Показать почту
  .bike_show__main
    .image
      .fotorama
        - bike.pictures.order(img_updated_at: :asc).each do |picture|
          = link_to nil, picture.img.url(:big), data: {thumb: picture.img.url(:thumb)}
    .config
      - if policy(bike).admin?
        = render 'shared/moderator_area', bike: bike
      - else
        table
          tr
            td.description Тип велосипеда:
            td= link_to t("enumerize.defaults.function.#{bike.function}"), "/?function=#{bike.function}", data: { no_turbolink: true }
          tr
            td.description Подвеска:
            td #{bike.suspension.present? ? t("enumerize.defaults.suspension.#{bike.suspension}") : '-'}
          tr
            td.description Возраст:
            td #{bike.age.present? ? t("enumerize.defaults.age.#{bike.age}") : '-' }
          tr
            td.description Пол:
            td #{bike.sex.present? ? t("enumerize.defaults.sex.#{bike.sex}") : '-' }
          tr
            td.description Количество скоростей:
            td = bike.gears || '-'
          tr
            td.description Размер колес:
            td = bike.wheels || '-'
          tr
            td.description Электрический:
            td #{bike.electric ? 'Да' : 'Нет' }
          tr
            td.description Складной:
            td #{bike.folding ? 'Да' : 'Нет' }
  .bike_show__footer
    - if bike.description.present?
      .bike_group
        div Описание:
        noindex = sanitize(bike.description, tags: %w[br \n])
  - if @similar.present?
    .bike_show__similar
      .header
        h3 Похожие объявления в городе #{bike.city.name}
      - @similar.each do |similar|
        = render 'shared/bike_index', bike: similar
