.moderator_area
  = simple_form_for [:profiles, bike], namespace: bike.id, remote: true do |f|
    .form_group
      = f.input :function, as: :radio_buttons, collection: Bike.function.options, include_blank: 'Выбрать', label: false
    .form_group
      = f.input :suspension, as: :radio_buttons, collection: Bike.suspension.options, include_blank: 'Выбрать', label: false
    .form_group
      = f.input :age, as: :radio_buttons, collection: Bike.age.options, include_blank: 'Возраст', label: false
    .form_group
      = f.input :sex, as: :radio_buttons, collection: Bike.sex.options, include_blank: 'Пол', label: false
    .form_group
      = f.input :folding, as: :boolean
      = f.input :electric, as: :boolean
    .form_group
      = f.input :gears, collection: Bike.gears.options, include_blank: 'Кол-во скоростей', label: false
      = f.input :wheels, collection: Bike.wheels.options, include_blank: 'Диаметр колес', label: false

  .actions
    span.approve data-behavior='set_status' data-status='approved'
    span.reject data-behavior='set_status' data-status='rejected'
    span.on_moderation data-behavior='set_status' data-status='on_moderation'
    span.company data-behavior='set_status' data-status='company'

  .owner_bikes
    - bike.user.bikes.each do |b|
      - next if bike.id == b.id
      = link_to b.title, bike_path(b.city, b)
      span #{' / '}
