- if user_signed_in? && current_user.phone.activated == false
  .phone_notice
    .inner_content
      | Ваш номер телефона не подтвержден.
        Подтверждение телефона необходимо для указания его в качестве контактных данных при подаче объявления.
        Подтвердить телефон вы можете в разделе #{link_to 'Мой профиль', edit_user_registration_path}
