#subheader
  .inner_content
    .left
      - if @city.present?
        h1 Продажа б/у велосипедов в городе #{@city.name}
      - else
        h1 Продажа б/у велосипедов
    .right
      = link_to "Избранное <span class='show_favorites_size' data-behavior='show_favorites_size'>#{favorites_size}</span>".html_safe, favorites_path, class: "show_favorites #{'selected' if params[:controller] == 'favorites'}"
