.filter
  background-color: #FFFFFF
  border-left: 2px solid $neutral-color
  box-sizing: border-box
  max-width: 335px
  float: right
  padding: 0 10px 20px 20px
  margin: 10px 0 10px 10px
  @extend %basic_form
  .splitted
    .form_group
      width: 50%
      display: inline-block
      box-sizing: border-box
      &:first-child
        padding-right: 10px
      &:last-child
        padding-left: 10px
  .search
    @extend %btn_success
    span
      margin: 0
  .reset
    @extend %btn_primary
  +mobile
    float: none
    margin: 10px auto 20px auto
    border-left: none
    border-bottom: 2px solid $neutral-color
    padding: 0 0 20px 0
