.bikes_index
  .pagination
    text-align: right
    margin-right: 10px
  .home_header
    text-align: center
    margin: 20px 0
  .bikes_wrapper
    @extend %wrap_box
    padding: 10px
    margin: 20px auto
    overflow: hidden
    max-width: 1600px
  .bikes
    overflow: hidden
  .bikes_inner_top
    +clearfix
    margin: 5px 10px
  .bikes_sort
    float: left
    min-width: 200px
    +medium
      float: none
      margin-bottom: 15px
  .no_results
    padding: 10px
