.favorites_index
  h3
    margin: 5px 10px 0
  .inner_content
    margin: 20px auto
    @extend %wrap_box
    padding: 5px
    position: relative
  .no_bookmarks
    position: absolute
    top: 40%
    margin: auto
    text-align: center
    width: 100%
    &:before
      @extend %icon-bookmark-empty
      color: $disable-color
      font-size: 60px
    &:after
      content: "Добавляйте понравившиеся объявления в избранное"
      display: block
      color: $disable-color
      font-size: 17px
      max-width: 280px
      line-height: 1.2em
      margin: 10px auto
  .bike
    width: 33.3%
    +large
      width: 33.3%
    +large_s
      width: 33.3%
    +medium
      width: 33.3%
    +mobile
      width: 50%
    +mobile_s
      width: 100%
