.profile_bike
  .image
    .fotorama.without_thumbs
      - bike.pictures.order(img_updated_at: :asc).each do |picture|
        = image_tag picture.img.url(:medium)
    .status class="#{bike.status}"
      = t("enumerize.defaults.status.#{bike.status}")
  .title = link_to truncate(bike.title, length: 70), profiles_bike_path(bike), target: '_blank'
  .config
    .bike_group
      span Тип велосипеда:
      = t("enumerize.defaults.function.#{bike.function}")

    - if bike.suspension.present?
      .bike_group
        span Подвеска:
        = t("enumerize.defaults.suspension.#{bike.suspension}")

    - if bike.gears.present?
      .bike_group
        span Количество скоростей:
        = bike.gears

    - if bike.wheels.present?
      .bike_group
        span Размер колес:
        = bike.wheels

    - if bike.sex.present?
      .bike_group
        span Пол:
        = t("enumerize.defaults.sex.#{bike.sex}")

  - if bike.description.present?
    .description
      .bike_group
        div Описание:
        = truncate(sanitize(bike.description, tags: %w[br \n]), length: 100)
  .services
    = link_to 'Редактировать', edit_profiles_bike_path(bike), class: 'edit'
    - unless bike.status == :closed
      = link_to 'Снять с продажи', profiles_bike_close_path(bike), method: :post, class: 'close'
    - else
      = link_to 'Вернуть на продажу', profiles_bike_restore_path(bike), method: :post, class: 'restore'
