.bike_new
  .layout_dropzone
  = simple_form_for [:profiles, @bike], html: {multipart: true} do |f|
    .form_group
      = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
      = f.input :title
    .form_group
      = f.input :description, as: :text
    .form_group
      = f.input :gears, collection: Bike.gears.options, include_blank: 'Выбрать'
    .form_group
      = f.input :wheels, collection: Bike.wheels.options, include_blank: 'Выбрать'
    .form_group
      = f.input :suspension, collection: Bike.suspension.options, include_blank: 'Выбрать'
    .form_group.city
      = f.association :city, as: :select, collection: [ @bike.city || @city ], selected: @city
    .form_group
      = f.input :function, collection: Bike.function.options, include_blank: 'Выбрать'
    .form_group
      = f.input :age, collection: Bike.age.options, include_blank: 'Выбрать'
    .form_group
      = f.input :sex, collection: Bike.sex.options, include_blank: 'Выбрать'
    .form_group.checkbox
      = f.input :folding, as: :boolean
    .form_group.checkbox
      = f.input :electric, as: :boolean
    .form_group
      = f.input :price, as: :string, maxlength: 9, input_html: { class: 'price_mask' }
    .form_group
      = f.input :pictures, as: :file, input_html: { multiple: true, name: 'pictures[]', class: 'file_pictures_original' }
      .dropzone
        .progress_bar data-progress=0
        span Перетащите изображения на форму или выберите их вручную (не более 8 штук)
        .file_pictures Выбрать фото
    .form_group.pictures_list.edit_fields
      - @bike.pictures.each do |picture|
        .fields
          = image_tag picture.img.url(:medium_s)
          .remove_picture data-id=picture.id
    .form_group.actions
      = f.submit 'Сохранить', class: 'save'
      = link_to 'Отменить', profiles_bikes_path, class: 'cancel'
