.devise
  h2 Вход
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form_group
      = f.input :email, autofocus: true
    .form_group
      = f.input :password, autocomplete: "off"
    - if devise_mapping.rememberable?
      .form_group.checkbox
        = f.check_box :remember_me
        = f.label :remember_me
    .form_group.actions
      = f.submit "Войти", class: 'sign_in', id: 'login'
    .form_group
      = render "devise/shared/links"
