%btn
  font-weight: normal
  font-size: 15px
  font-family: 'Arial', 'Helvetica', 'sans-serif'
  display: inline-block
  vertical-align: middle
  touch-action: manipulation
  cursor: pointer
  padding: 0 20px
  line-height: 40px
  height: 40px
  user-select: none
  border: 1px solid transparent
  text-decoration: none
  text-align: center
  color: white
  box-sizing: border-box
  border-radius: 3px
  position: relative
  &[data-loading=true]
    background-color: $disable-color
    color: $disable-color
    &:hover
      background-color: $disable-color
    &:after
      width: 16px
      height: 16px
      margin-top: -10px
      margin-left: -10px
  &:disabled, &:disabled:hover
    background-color: $neutral-color
    color: $disable-color

%iconable
  @extend %btn
  &:before
    margin-left: -14px

%btn_default
  @extend %btn
  background-color: $disable-color
  &:hover
    background-color: darken($disable-color, 10%)

%btn_primary
  @extend %btn
  background-color: $main-color
  &:hover
    background-color: darken($main-color, 10%)

%btn_success
  @extend %btn
  background-color: $success-color
  &:hover
    background-color: darken($success-color, 10%)

%btn_danger
  @extend %btn
  background-color: $danger-color
  &:hover
    background-color: darken($danger-color, 10%)

%btn_warning
  @extend %btn
  background-color: $warning-color
  &:hover
    background-color: darken($warning-color, 10%)
