%basic_form
  margin: 20px 0
  padding: 20px
  box-sizing: border-box

form
  input[type=text],
  input[type=password],
  input[type=tel],
  input[type=email],
  input[type=search],
  input[type=number],
  textarea,
  select
    font-family: $default-font-family
    width: 100%
    height: 36px
    line-height: 36px
    font-size: 15px
    box-sizing: border-box
    color: #555
    padding: 0 10px
    background-color: #fff
    border: 1px solid #ccc
  textarea
    min-height: 250px
    resize: vertical
    line-height: initial
    padding: 10px
  label
    font-size: 14px
    margin-bottom: 5px
    color: black
    font-weight: bold
    display: block
  .radio_buttons, .boolean
    .radio
      display: block
    label
      display: inline-block
      vertical-align: baseline
      margin: 0 0 0 5px
  .form_group
    margin-bottom: 15px
    position: relative
    .form_group
      margin-bottom: 0
    &:last-of-type
      margin-bottom: 0
    &.with_right_desc label
      float: left
    &.actions
      text-align: center
      margin-bottom: 0
      *
        margin: 0 10px
    &.checkbox label
      display: inline-block
      vertical-align: baseline
      margin: 0 0 0 5px
    &.edit_fields
      +clearfix
      .fields
        float: left
        position: relative
        margin: 15px
        height: 200px
        width: 200px
        .input
          display: none

    .fields
      margin-bottom: 15px
      +clearfix
      .input
        display: inline-block

    .desc
      font-size: 12px
      position: absolute
      top: 2px
      right: 0
      color: #848484
