%icon
  font-family: "fontello"
  font-style: normal
  font-weight: normal
  font-variant: normal
  speak: none
  display: inline-block
  text-decoration: inherit
  width: 1em
  text-align: center
  text-transform: none
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

%icon-search:before
  @extend %icon
  content: '\e800'

%icon-star:before
  @extend %icon
  content: '\e801'

%icon-star-empty:before
  @extend %icon
  content: '\e802'

%icon-user:before
  @extend %icon
  content: '\e803'

%icon-ok:before
  @extend %icon
  content: '\e804'

%icon-cancel:before
  @extend %icon
  content: '\e805'

%icon-plus:before
  @extend %icon
  content: '\e806'

%icon-minus:before
  @extend %icon
  content: '\e807'

%icon-help:before
  @extend %icon
  content: '\e808'

%icon-link-ext-alt:before
  @extend %icon
  content: '\e809'

%icon-lock:before
  @extend %icon
  content: '\e80a'

%icon-lock-open:before
  @extend %icon
  content: '\e80b'

%icon-eye:before
  @extend %icon
  content: '\e80c'

%icon-eye-off:before
  @extend %icon
  content: '\e80d'

%icon-tag:before
  @extend %icon
  content: '\e80e'

%icon-bookmark:before
  @extend %icon
  content: '\e80f'

%icon-bookmark-empty:before
  @extend %icon
  content: '\e810'

%icon-thumbs-up:before
  @extend %icon
  content: '\e811'

%icon-thumbs-down:before
  @extend %icon
  content: '\e812'

%icon-thumbs-up-alt:before
  @extend %icon
  content: '\e813'

%icon-thumbs-down-alt:before
  @extend %icon
  content: '\e814'

%icon-pencil:before
  @extend %icon
  content: '\e815'

%icon-trash-empty:before
  @extend %icon
  content: '\e816'

%icon-compass:before
  @extend %icon
  content: '\e817'

%icon-doc:before
  @extend %icon
  content: '\e818'

%icon-docs:before
  @extend %icon
  content: '\e819'

%icon-doc-text:before
  @extend %icon
  content: '\e81a'

%icon-box:before
  @extend %icon
  content: '\e81b'

%icon-phone:before
  @extend %icon
  content: '\e81c'

%icon-menu:before
  @extend %icon
  content: '\e81d'

%icon-cog:before
  @extend %icon
  content: '\e81e'

%icon-wrench:before
  @extend %icon
  content: '\e81f'

%icon-sliders:before
  @extend %icon
  content: '\e820'

%icon-calendar:before
  @extend %icon
  content: '\e821'

%icon-login:before
  @extend %icon
  content: '\e822'

%icon-logout:before
  @extend %icon
  content: '\e823'

%icon-clock:before
  @extend %icon
  content: '\e824'

%icon-lightbulb:before
  @extend %icon
  content: '\e825'

%icon-resize-full:before
  @extend %icon
  content: '\e826'

%icon-resize-small:before
  @extend %icon
  content: '\e827'

%icon-down-open:before
  @extend %icon
  content: '\e828'

%icon-left-open:before
  @extend %icon
  content: '\e829'

%icon-right-open:before
  @extend %icon
  content: '\e82a'

%icon-up-open:before
  @extend %icon
  content: '\e82b'

%icon-angle-left:before
  @extend %icon
  content: '\e82c'

%icon-angle-right:before
  @extend %icon
  content: '\e82d'

%icon-angle-down:before
  @extend %icon
  content: '\e82e'

%icon-angle-up:before
  @extend %icon
  content: '\e82f'

%icon-down:before
  @extend %icon
  content: '\e830'

%icon-right:before
  @extend %icon
  content: '\e831'

%icon-left:before
  @extend %icon
  content: '\e832'

%icon-up:before
  @extend %icon
  content: '\e833'

%icon-arrows-cw:before
  @extend %icon
  content: '\e834'

%icon-exchange:before
  @extend %icon
  content: '\e835'

%icon-award:before
  @extend %icon
  content: '\e836'

%icon-inbox:before
  @extend %icon
  content: '\e837'

%icon-ellipsis:before
  @extend %icon
  content: '\e838'

%icon-ellipsis-vert:before
  @extend %icon
  content: '\e839'

%icon-road:before
  @extend %icon
  content: '\e83a'

%icon-circle-empty:before
  @extend %icon
  content: '\e83b'

%icon-circle:before
  @extend %icon
  content: '\e83c'

%icon-circle-thin:before
  @extend %icon
  content: '\e83d'

%icon-circle-notch:before
  @extend %icon
  content: '\e83e'

%icon-dot-circled:before
  @extend %icon
  content: '\e83f'

%icon-asterisk:before
  @extend %icon
  content: '\e840'

%icon-bicycle:before
  @extend %icon
  content: '\e841'

%icon-rouble:before
  @extend %icon
  content: '\e842'

%icon-sort-down:before
  @extend %icon
  content: '\e843'

%icon-sort-up:before
  @extend %icon
  content: '\e844'

%icon-recycle:before
  @extend %icon
  content: '\e845'

%icon-diamond:before
  @extend %icon
  content: '\e846'

%icon-at:before
  @extend %icon
  content: '\e847'

%icon-help-circled:before
  @extend %icon
  content: '\e848'

%icon-info-circled:before
  @extend %icon
  content: '\e849'

%icon-info:before
  @extend %icon
  content: '\e84a'

%icon-home:before
  @extend %icon
  content: '\e84b'

%icon-heart-empty:before
  @extend %icon
  content: '\e84c'

%icon-heart:before
  @extend %icon
  content: '\e84d'

%icon-lock-open-alt:before
  @extend %icon
  content: '\e84e'

%icon-comment:before
  @extend %icon
  content: '\e84f'

%icon-chat:before
  @extend %icon
  content: '\e850'

%icon-comment-empty:before
  @extend %icon
  content: '\e851'

%icon-chat-empty:before
  @extend %icon
  content: '\e852'

%icon-bell:before
  @extend %icon
  content: '\e853'

%icon-bell-alt:before
  @extend %icon
  content: '\e854'

%icon-attention-alt:before
  @extend %icon
  content: '\e855'

%icon-location:before
  @extend %icon
  content: '\e856'

%icon-direction:before
  @extend %icon
  content: '\e857'

%icon-folder:before
  @extend %icon
  content: '\e858'

%icon-folder-open:before
  @extend %icon
  content: '\e859'

%icon-folder-empty:before
  @extend %icon
  content: '\e85a'

%icon-folder-open-empty:before
  @extend %icon
  content: '\e85b'

%icon-block:before
  @extend %icon
  content: '\e85c'

%icon-down-big:before
  @extend %icon
  content: '\e85d'

%icon-left-big:before
  @extend %icon
  content: '\e85e'

%icon-right-big:before
  @extend %icon
  content: '\e85f'

%icon-up-big:before
  @extend %icon
  content: '\e860'


//%icon-cancel:before
//  @extend %icon
//  content: '\e800'
//
//%icon-heart:before
//  @extend %icon
//  content: '\e801'
//
//%icon-heart-empty:before
//  @extend %icon
//  content: '\e802'
//
//%icon-ok:before
//  @extend %icon
//  content: '\e803'
//
//%icon-home:before
//  @extend %icon
//  content: '\e804'
//
//%icon-comment-empty:before
//  @extend %icon
//  content: '\e805'
//
//%icon-chat-empty:before
//  @extend %icon
//  content: '\e806'
//
//%icon-star:before
//  @extend %icon
//  content: '\e807'
//
//%icon-star-empty:before
//  @extend %icon
//  content: '\e808'
//
//%icon-pencil:before
//  @extend %icon
//  content: '\e809'
//
//%icon-direction:before
//  @extend %icon
//  content: '\e80a'
//
//%icon-trash-empty:before
//  @extend %icon
//  content: '\e80b'
//
//%icon-angle-circled-left:before
//  @extend %icon
//  content: '\e80c'
//
//%icon-angle-circled-right:before
//  @extend %icon
//  content: '\e80d'
//
//%icon-down:before
//  @extend %icon
//  content: '\e80e'
//
//%icon-left:before
//  @extend %icon
//  content: '\e80f'
//
//%icon-right:before
//  @extend %icon
//  content: '\e810'
//
//%icon-up:before
//  @extend %icon
//  content: '\e811'
//
//%icon-down-big:before
//  @extend %icon
//  content: '\e812'
//
//%icon-left-big:before
//  @extend %icon
//  content: '\e813'
//
//%icon-right-big:before
//  @extend %icon
//  content: '\e814'
//
//%icon-up-big:before
//  @extend %icon
//  content: '\e815'
//
//%icon-up-open:before
//  @extend %icon
//  content: '\e816'
//
//%icon-right-open:before
//  @extend %icon
//  content: '\e817'
//
//%icon-left-open:before
//  @extend %icon
//  content: '\e818'
//
//%icon-down-open:before
//  @extend %icon
//  content: '\e819'
//
//%icon-space-shuttle:before
//  @extend %icon
//  content: '\e81a'
//
//%icon-menu:before
//  @extend %icon
//  content: '\e81b'
//
//%icon-sliders:before
//  @extend %icon
//  content: '\e81c'
