.label
  color: white
  font-size: 13px
  padding: 0 8px
  height: 23px
  line-height: 23px
  display: inline-block
  vertical-align: middle
  background-color: $neutral-color

.label_success
  @extend .label
  background-color: $success-color

.label_danger
  @extend .label
  background-color: $danger-color
