%text
  text-decoration: none
  user-select: none

%link_default
  color: $submain-color
  &:hover
    color: lighten($submain-color, 10%)
    text-decoration: none

%text_default
  @extend %text
  color: black
  &:hover
    color: $danger-color

%text_fat
  @extend %text
  color: black
  font-weight: bold
  font-size: 16px
  &:hover
    color: $danger-color

%text_hidden
  @extend %text
  font-size: 14px
  color: $disable-color
  &:hover
    color: darken($disable-color, 10%)

%text_pseudo
  @extend %text
  color: $submain-color
  border-bottom: 1px dashed $submain-color
  cursor: pointer
  &:hover
    color: lighten($submain-color, 10%)
    border-bottom: 1px dashed lighten($submain-color, 10%)

%text_success
  @extend %text
  color: $success-color
  &:hover
    color: darken($success-color, 10%)
