$mobile-s-width:  550px
$mobile-width:    800px
$medium-width:    980px
$large-s-width:   1050px
$large-width:     1350px


=mobile
  @media (max-width: #{$mobile-width})
    @content

=mobile_s
  @media (max-width: #{$mobile-s-width})
    @content

=medium
  @media (max-width: #{$medium-width})
    @content

=large_s
  @media (max-width: #{$large-s-width})
    @content

=large
  @media (max-width: #{$large-width})
    @content

=clearfix
  &:after
    content: ""
    display: table
    clear: both

=e($element)
  &__#{$element}
    @content

=m($modifier)
  &--#{$modifier}
    @content

=sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $container-selector: unquote("#container"), $footer-selector: unquote("#footer"))
  html, body
    height: 100%

  body
    margin: 0
    padding: 0

  #{$wrapper-selector}
    min-height: 100%
    height: auto !important
    height: 100%
    margin-bottom: -$footer-height
    #{$container-selector}
      padding: 0 0 $footer-height 0

  #{$footer-selector}
    height: $footer-height
