@keyframes spinner
  to
    transform: rotate(360deg)

[data-loading=true]:after
  content: ''
  position: absolute
  top: 50%
  left: 50%
  width: 26px
  height: 26px
  margin-top: -17px
  margin-left: -16px
  border-radius: 50%
  border: 3px solid transparent
  border-top-color: white
  border-bottom-color: white
  animation: spinner .8s ease infinite
  z-index: 20
