.filter
  = form_tag @action, method: :get do |f|
    .form_group.city
      - if params[:sort].present?
        = hidden_field_tag :sort, params[:sort]
      = label_tag :city_id, 'Город'
      = select_tag :city_id, options_from_collection_for_select(@cities, 'slug', 'name', @city), name: nil
    .form_group
      = label_tag :function, 'Тип велосипеда'
      = select_tag :function, options_for_select(Bike.function.options, params[:function]), include_blank: 'Неважно'
    .form_group
      = label_tag :suspension, 'Подвеска'
      = select_tag :suspension, options_for_select(Bike.suspension.options, params[:suspension]), include_blank: 'Неважно'
    .form_group
      = label_tag :age, 'Возраст'
      = select_tag :age, options_for_select(Bike.age.options, params[:age]), include_blank: 'Неважно'
    .form_group
      = label_tag :sex, 'Пол'
      = select_tag :sex, options_for_select(Bike.sex.options, params[:sex]), include_blank: 'Неважно'
    .form_group.splitted
      = label_tag :price, 'Цена'
      .form_group
        = label_tag :price_from, 'от'
        = text_field_tag :price_from, params[:price_from], class: 'price_mask'
      .form_group
        = label_tag :price_to, 'до'
        = text_field_tag :price_to, params[:price_to], class: 'price_mask'
    .form_group.checkbox
      = check_box_tag :folding, true, params[:folding]
      = label_tag :folding, 'Складной'
    .form_group.checkbox
      = check_box_tag :electric, true, params[:electric]
      = label_tag :electric, 'Электрический'
    .form_group.actions
      = button_tag class: 'search', type: 'submit', data: { loading: false }, disabled: @bikes_filtered.count.zero? do
        - if @bikes_filtered.count.zero?
          = t('bikes.empty_search')
        - else
          = t('bikes.advert', count: @bikes_filtered.count)