- if @city
  = content_for(:title, "Б/У велосипеды в городе #{@city.name} - BikeBook.ru")
  = content_for(:description, "Доска объявлений по покупке и продаже б/у велосипедов в городе #{@city.name}")

.bikes_index
  .bikes_wrapper
    = render 'filter'
    .bikes
      .bikes_inner_top
        .bikes_sort
          = form_tag @action, method: :get do |f|
            = select_tag :sort, options_for_select([['Сначала новые', nil], ['Сначала дорогие', :expensive], ['Сначала дешевые', :cheap]], params[:sort]), onchange: "this.form.submit();"
            - params.except(:sort, :controller, :utf8, :action, :city_id).each do |key, value|
              = hidden_field_tag key, value
        = paginate @bikes
      - if @bikes.any?
        - @bikes.each do |bike|
          = render 'shared/bike_index', bike: bike
      - else
        .no_results
          h3 По вашему запросу ничего не найдено
      = paginate @bikes
