@import 'vendor/normalize'
@import 'vars'
@import 'lib/mixins'
@import 'lib/*'
@import 'vendor/*'
@import 'vendor/fotorama/fotorama'
@import 'shared/*'
@import 'devise/*'
@import 'bikes/*'
@import 'feedback/*'
@import 'favorites/*'
@import 'profiles/bikes/*'
@import 'profiles/moderations/*'

html
  overflow-y: scroll

h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0

body, a
  font-family: $default-font-family
  font-size: 15px

a
  color: #1A5DD6

#wrapper
  background-color: $neutral-color

.inner_content
  width: 100%
  max-width: 960px
  margin: 0 auto
  box-sizing: border-box
  +mobile
    padding: 0

.delete_profile
  text-align: center
  margin-top: 20px

%wrap_box
  background-color: white
  box-shadow: $default-shadow
  border-radius: 3px

.phone_notice
  position: relative
  background-color: $warning-color
  padding: 10px
  font-size: 14px
  color: white
  text-align: center
  a
    color: white

+sticky-footer(46px)
