.profile_bike
  margin: 20px 0
  position: relative
  @extend %wrap_box
  +clearfix
  +mobile
    width: auto
    height: auto
    max-width: 550px
    margin: 20px auto
  .title
    padding: 10px 20px
    overflow: hidden
    a
      @extend %text_fat
  .image
    width: 300px
    min-height: 190px
    padding-top: 30px
    position: relative
    background-color: #000000
    +mobile
      width: auto
  .image, .config
    float: left
    +mobile
      float: none
  .fotorama__nav-wrap
    position: absolute
    bottom: 0
  .fotorama__dot
    border-color: white
  .status
    position: absolute
    top: 0
    left: 0
    right: 0
    color: white
    height: 30px
    line-height: 30px
    font-size: 16px
    text-align: center
    z-index: 10
    &.approved
      background-color: $success-color
    &.on_moderation
      background-color: $warning-color
    &.closed
      background-color: $disable-color
    &.rejected
      background-color: $danger-color
  .config
    padding: 0 20px
    width: 270px
    +mobile
      width: auto
  .description
    overflow: hidden
    padding: 0 20px
    +mobile
      margin-top: 5px
  .services
    position: absolute
    right: 10px
    bottom: 10px
    a
      margin-left: 10px
    +mobile
      position: relative
      margin: 20px
      text-align: center
  .edit
    @extend %btn_primary
    +mobile
      margin-right: 20px
  .close
    @extend %btn_default
  .confirm_question
    @extend %btn_danger
  .restore
    @extend %btn_success
