.bike_new
  position: relative
  @extend %basic_form
  @extend %wrap_box

  &.ready_to_drop
    .layout_dropzone
      &:after
        content: ""
        display: block
        position: absolute
        margin: 0 auto
        border: 6px dashed #CCCCCC
        z-index: 110
        top: 0
        bottom: 0
        left: 0
        right: 0
        box-sizing: border-box
      &:before
        content: ""
        display: block
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba(255,255,255,.9)
        z-index: 100

  .file_pictures
    @extend %btn_primary
    margin-left: 10px

  .file_pictures_original
    display: none

  .remove_picture
    @extend %btn_danger
    @extend %icon-trash-empty
    position: absolute
    bottom: 0
    right: 0
    margin: 0
    padding: 0 5px
    font-size: 19px

  .save
    @extend %btn_success

  .cancel
    @extend %btn_primary

  .field_with_errors + .dropzone
    border-color: $danger-color

  .dropzone
    border: 2px dashed #CCCCCC
    padding: 20px
    box-sizing: border-box
    text-align: center
    position: relative

  .progress_bar
    height: 3px
    width: 0
    background: rgba(20, 165, 86, 0.83)
    position: absolute
    bottom: -17px
    left: 0
    z-index: 10
    transition: width .2s ease
