.feedback_new
  .inner_content
    .profile_head
      h2 Обратная связь
    = simple_form_for @feedback, url: feedback_index_url do |f|
      .form_group
        = f.input :title
      .form_group
        = f.input :description, as: :text
      .form_group.actions
      = f.submit 'Отправить', class: 'send'
