.devise
  max-width: 400px
  margin: 20px auto
  @extend %basic_form
  @extend %wrap_box
  h2
    margin: 10px 0 20px
    text-align: center
  .actions
    margin: 20px 0
  .save
    @extend %btn_success
  .delete
    @extend %text_hidden
  .sign_in,
  .sign_up,
  .restore,
  .reactivation,
  .change
    @extend %btn_primary
  .links a
    margin-top: 5px
    display: inline-block
    @extend %text_default
  .mail_confirmation_message
    color: $warning-color
    margin-top: -10px
