.phone_confirmation
  position: relative
  .errors
    color: $danger-color
    display: none
    margin-top: 5px
    &.open
      display: block
  .check_form
    display: none
  &.check_mode
    .check_form
      display: block
    .edit_form
      display: none
  &.before_send
    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      left: -20px
      right: -20px
      bottom: 0
      z-index: 20
      background: $disable-color image-url('loader.gif') no-repeat center
      color: transparent
  &.activated
    .edit_form
      @extend %icon-ok
      &:before
        position: absolute
        bottom: 9px
        right: 5px
        color: $success-color
    .send_sms_code
      display: none
  .check_sms_form_group
    +clearfix
    input.check_sms_input
      float: left
      width: 62%
      box-sizing: border-box
      margin-right: 3%
    .check_sms_btn
      @extend %btn_success
      width: 35%
      box-sizing: border-box
  .send_sms_code, .resend_sms_code
    margin-top: 10px
    display: inline-block
    @extend %text_pseudo
    &:before
      content: "Подтвердить телефон"
    &.done
      color: $disable-color
      border-bottom-color: transparent
      &:before
        content: 'Запросить код повторно можно через - '
  .resend_sms_code:before
    content: 'Отправить код повторно'
