doctype html
html data-modal-open='false'
  head
    title = yield(:title).presence || "Б/У велосипеды: детские, горные, городские, BMX, электрические и др. - BikeBook.ru"
    meta name="description" content="#{yield(:description).presence || 'Доска частных объявлений по продаже и покупке бу велосипедов по всей России - BikeBook.ru'}"
    meta charset="UTF-8"
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    meta name="google-site-verification" content="3dceaRKPXKHOjV0qjbwxHvXdmA4J6QmhKBTMdm9ef1s"
    meta name="msvalidate.01" content="FE20663D606CD408EE67A91AEC8AF7CB"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body class="#{controller_name} #{action_name}"
    = render 'shared/modal'
    #wrapper.wrapper
      #container
        = render 'shared/notice'
        = render 'shared/flash'
        = render 'shared/header'
        = render 'shared/subheader'
        = yield
    .wrapper
      = render 'shared/footer'
      = render 'shared/counter'
